p{
color:darkblue;
font-family:courier;
font-size:100% ;
margin:50 px ;
text-align: center;}

h1{ color:blue;
font-family:monospace; 
font-size: 300 px;
text-align:center ;
border: 10px royalblue;
}
#parrafo{ color:darkblue;}

body{ background-color:lightpink;}